.navbar {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-left: 20px;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-item a.active {
  background-color: #575757;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row; /* Keep navbar horizontal */
    flex-wrap: wrap; /* Allow items to wrap if needed */
    padding: 10px;
  }

  .navbar-nav {
    flex-direction: row; /* Keep navigation items horizontal */
    justify-content: space-around; /* Distribute items evenly */
    width: 100%;
    margin-top: 10px;
  }

  .nav-item {
    margin: 0 5px; /* Adjust margin for horizontal layout */
  }

  .navbar-nav a {
    text-align: center;
    padding: 10px;
    display: inline-block; /* Use inline-block for horizontal items */
  }
}